body {
  background: #414141;
   background-image: url("Images/wallpaper.png");
  background-color: #414141;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.main {
  color: white;
 display: flex; 
 padding: 10px;
  font-size: 17px;
}

.menu, .story, .space, .form, .video {
 margin-top: 75px;
}

.story {
font-family: Sans-serif;
 flex: 4;
}

.space {
 flex: 2;
 margin: 20px;
}

header {
 margin: 3px;
 border: solid;
 border-radius: 20px;
 opacity: 0.95;
 position: fixed;
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
 background: black;
 list-style-type: none;
 font-family: cursive;
 border: 2px solid black;
}

.pages {
  box-sizing: border-box;
  list-style: none;
  }

.pages li {
  display: inline-block;
  padding: 0px 20px;
}

.pages li a{
  text-decoration: none;
  color: white;
  transition: all 0.3s ease 0s;
}

.pages li a:hover{
  border: solid gray;
  padding: 3px;
  border-radius: 10px;
  background: gray;
  color: #9e9e9e;
}

.menu {
  flex: 1;
  display: flex;
  padding: 25px;
  flex-wrap: no-wrap;
}

.menu-ul {
  border: solid;
  border-radius: 20px;
  background: black;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 0px solid gray;
  display: flex;
  flex-direction: column;
}

.menu-li {
  border-radius: 30px;
  text-align: center;
  font-family: Fantasy;
  background: #566fb8;
  border: 1px solid #566fb8;
  margin: 0.5em;
  padding: 0.5em;
}


@media screen and (max-height: 300px) {
  header {
   display: none;
  }
}

@media screen and (max-width: 640px) {
  .help {
   display: none;
  }
}

@media screen and (max-width: 700px) {
  .logo {
    display: none;
  }
  .menu {
    display: none;
  }
}

@media screen and (max-width: 940px) {
  .search2 {
   display: none;
  }
}

@media screen and (max-width: 1200px) {
  .space {
    display: none;
  }
}

button {
  font-family: Fantasy;
  padding: 9px 25px;
  background-color: rgba(0,136,169,1);
  color: #ffffff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  color: rgba(0,136,169,1);
  background-color: white;
}

.logo {
  cursor: pointer;
}

.search2 {
  color: rgb(0,136,169,1);
  background-color: white;
}

.search2:hover {
  color: white;
  background-color: rgb(0,136,169,1);
}

.menublocks-ul {
  position: fixed;
  border: solid;
  border-radius: 20px;
  background: black;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
}

.menublocks-li {
  border-radius: 30px;
  text-align: center;
  font-family: cursive;
  background: green;
  border: 1px solid green;
  margin: 0.5em;
  padding: 0.5em;
}

footer {
  background-color: rgba(0,136,169,0.8);
  border: solid;
  border-radius: 20px;
}

.Bronnen {
  text-align: center;
  font-family: cursive;
}

.form {
  flex: 6;
  margin-left: 50px;
  font-family: sans-serif;
}

.video {
    position: fixed; 
    min-width: 100%; 
    min-height: 100%;
}
